.moon-ripple-spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000;
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 70deg,
      #0000 71deg 90deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - 8px - 1px),
      #000 calc(100% - 8px)
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: moon-ripple 1s infinite;
}
@keyframes moon-ripple {
  to {
    transform: rotate(0.5turn);
  }
}
