.half-ring-spinner {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: half_ring 1s infinite;
}

@keyframes half_ring {
  to {
    transform: rotate(0.5turn);
  }
}