.rotate-dot-spinner {
  width: 50px;
  height: 50px;
  color: black;
  background: 
    no-repeat radial-gradient(farthest-side, currentColor 92%, #0000) 50% 0   /12px 12px,
    no-repeat radial-gradient(farthest-side, currentColor 92%, #0000) 50% 100%/12px 12px,
    no-repeat radial-gradient(farthest-side, currentColor 92%, #0000) 100% 50%/12px 12px,
    no-repeat radial-gradient(farthest-side, currentColor 92%, #0000) 0    50%/12px 12px,
    no-repeat radial-gradient(farthest-side, currentColor 92%, #0000) 50%  50%/12px 12px,
    conic-gradient(from 90deg at 4px 4px, #0000 90deg, currentColor 0)
    -4px -4px / calc(50% + 2px) calc(50% + 2px);
  animation: rotate-dot 1s infinite linear;
}

@keyframes rotate-dot {
  to {
    transform: rotate(0.5turn);
  }
}
